# deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tet
  labels:
    app: flask-hello-world
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flask-hello-world
  template:
    metadata:
      labels:
        app: flask-hello-world
    spec:
      containers:
        - name: flask-container
          image: 'image-registry.openshift-image-registry.svc:5000/web-uat/flask-hello-world:latest'
          ports:
            - containerPort: 3000
          imagePullPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: flask-service
spec:
  selector:
    app: flask-hello-world
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: ClusterIP